h2 {
    background-color: #607d8b;
    color: #ffffff;
  }
  p {
    font-size: 16px;
    width: 60%;
  }

img {
    font-size: 16px;
}
h1 {
    background-color: #607d8b;
    color: #ffffff;
  } 
  body{
    background-color: #607d8b; 
  }